{% extends "main.html" %}
{% import 'macros.html' as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ heading }}</h1>
    </div>
    {{ macros.make_list(messages) }}
    <hr>
    {{ wtf.quick_form(form) }}
    <br><hr><br>
    {{ macros.make_link_button(link, button_text)}}
    <br><br>
</div>
{% endblock %}
