{% macro make_ltd_table(ltd_row_collection) %}
    <table style="margin-left: auto; margin-right: auto; border: 1px solid black">
        <tr>
            <th style="padding: 15px; border: 1px solid black">{{ltd_row_collection[0][0]}}</th>
            <td style="padding: 15px; border: 1px solid black"><b><i>{{ltd_row_collection[0][1]}}</i></b></td>
        </tr>
        <tr>
            <td style="padding: 15px; border: 1px solid black">{{ltd_row_collection[1][0]}}</td>
            <td style="padding: 15px; border: 1px solid black">{{ltd_row_collection[1][1]}}</td>
        </tr>
        <tr>
            <th style="padding: 15px; border: 1px solid black">{{ltd_row_collection[2][0]}}</th>
            <td style="padding: 15px; border: 1px solid black"><b><i>{{ltd_row_collection[2][1]}}</i></b></td>
        </tr>
    </table>
{% endmacro %}

{% macro make_vertical_table_results(headings, collection) %}
    <table style="margin-left: auto; margin-right: auto; border: 1px solid black">
        <tr>
            {% for heading in headings %}
                <th style="padding: 15px; border: 1px solid black">{{heading}}</th>
            {% endfor %}
        </tr>
        {% for row in collection %}
            <tr> 
                {% for data in row %}
                    {% if data.startswith(";") %}
                        {% set list1 = data.split(';') %}
                        <th style="padding: 15px; border: 1px solid black">{{list1[1]}}</th>
                    {% elif data.startswith("/") %}
                        {% set list1 = data.split(';') %}
                        <td style="padding: 15px; border: 1px solid black"><a href="{{list1[0]}}" class="btn btn-primary">{{list1[1]}}</a></td>
                    {% else %} 
                        <td style="padding: 15px; border: 1px solid black">{{data}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro make_table(table_headings, data_collection) %}
    <table style="margin-left: auto; margin-right: auto; border: 1px solid black">
        <tr>
            {% for table_heading in table_headings %}
                <th style="padding: 15px; border: 1px solid black">{{table_heading}}</th>
            {% endfor %}
        </tr>
        {% for data_set in data_collection %}
            <tr>
            {% for data in data_set %}
                <td style="padding: 15px; border: 1px solid black">{{data}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}


{% macro make_table_button(table_headings, data_collection) %}
    <table style="margin-left: auto; margin-right: auto; border: 1px solid black">
        <tr>
            {% for table_heading in table_headings %}
                <th style="padding: 15px; border: 1px solid black">{{table_heading}}</th>
            {% endfor %}
        </tr>
        {% for data_set in data_collection %}
            <tr>
            {% for data in data_set %}
                {% if data.startswith("/") %}
                    {% set list1 = data.split(';') %}
                    <td style="padding: 15px; border: 1px solid black"><a href="{{list1[0]}}" class="btn btn-primary">{{list1[1]}}</a></td>
                {% else %}
                    <td style="padding: 15px; border: 1px solid black">{{data}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro make_link_button(data, btn_text) %}
    <a href="{{data}}" class="btn btn-primary">{{btn_text}}</a>
{% endmacro %}

{% macro make_list(items) %}
    {% for para in items %}
        <p>{{para}}</p>
    {% endfor %}
{% endmacro %}

{% macro make_bold_list(items) %}
    {% for item in items %}
        <p><b>{{item[0]}}</b> : {{item[1]}}</p>
    {% endfor %}
{% endmacro %}
