{% extends "bootstrap/base.html" %}

{% block title %}
    PfSense Dashboard
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation" style="background-color: #242254; border-color: #242254;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home" style="color:#c8102e;"><b>PfSense Dashboard</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/map">Network Map</a></li>
                <li><a href="/add_instance">Add PfSense Instance</a></li>
                <li><a href="/report_configuration">Configure Reports</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
