{% extends "main.html" %}
{% import 'macros.html' as macros %}

{% block title %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ heading }}</h1>
    </div>
    </div>
    <p>
        <div style="float:left; padding-left:180px;">
            <h2>LTD Pay</h2><br>
            {{ macros.make_ltd_table(ltd_row_collection) }}
        </div>
        <div style="float:right; padding-right:180px">
            <h2>PAYE Pay</h2><br>
        {{ macros.make_vertical_table_results(table_headings, row_collection) }}
        </div>
    </p>
</div>
{% endblock %}
